#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{

  color:  rgb(8, 75, 18);
  
}

body{

background-color:  rgb(211, 211, 60);
}

 .allPlayers{
/* display: grid;
grid-template-columns: repeat(3, 1fr); */
 }

.player-card {

  border: 0.2em solid  rgb(211, 211, 60);
  padding: 5em;
  background-color: rgb(8, 75, 18);
}

.player-card img {
  height: 20em;
  width: 20em;
  border: 0.2em solid rgb(211, 211, 60);
}

.form {

  background-color: rgb(211, 211, 60);
  display: flexbox;
  flex-direction: column;
  justify-content: center;


}

